*{
    font-family:"Roboto";
}

a{
    color: gray;
    text-decoration: none;
}

.pageContentNav h2 {
    font-size: 25px;
	float: left;	
	margin-bottom: 0px;
}

.pageContent p {
	word-wrap: break-word;
	float: right;
}

.header h1{
    font-size: 50px !important;
    letter-spacing: -0.02em;
    font-weight: 700;
    padding-left: 100px;
}
.nav{
	padding-top: 5px;
    font-size: 20px;
    color: gray;
    margin-top: 20px;
}

a:hover{
    cursor: pointer;
    color: black;
    font-weight: 600;
    text-decoration: none;
}