.contact{
    font-size: 16px;
    color: gray;
}

.contact a{
    color: gray;
    text-decoration: none;
    
    border-left: 1px solid rgba(128, 128, 128, .2);
}

.contact a:hover{
    color: black;
}

.header{
    margin-top: 20px;
}

#pageTitle{
    text-align: center;
}