*{
    font-family:"Roboto";
}

.header{
    margin-top: 20px;
}

.header h1{
    font-size: 50px !important;
    letter-spacing: -0.02em;
    font-weight: 700;
    padding-left: 100px;
}
.contact{
    font-size: 20px;
    color: gray;
}

.contact a{
    color: gray;
    text-decoration: none;
    
    border-left: 1px solid rgba(128, 128, 128, .2);
}

.contact a:hover{
    color: black;
    font-weight: 600;
}