$h1-font-size-desktop: 24px;
$h1-font-size-tablet: 24px;
$h1-font-size-mobile: 16px;

$h2-font-size-desktop: 20px;
$h2-font-size-tablet: 20px;
$h2-font-size-mobile: 12px;

$h3-font-size-desktop: 20px;
$h3-font-size-tablet: 20px;
$h3-font-size-mobile: 12px;

$h4-font-size-desktop: 36px;
$h4-font-size-tablet: 28px;
$h4-font-size-mobile: 18px;

$p-font-size-desktop: 16px;
$p-font-size-tablet: 16px;
$p-font-size-mobile: 16px;
