$h1-font-size-desktop: 96px;
$h1-font-size-tablet: 72px;
$h1-font-size-mobile: 56px;

$h2-font-size-desktop: 56px;
$h2-font-size-tablet: 48px;
$h2-font-size-mobile: 36px;

$h3-font-size-desktop: 48px;
$h3-font-size-tablet: 40px;
$h3-font-size-mobile: 28px;

$h4-font-size-desktop: 36px;
$h4-font-size-tablet: 28px;
$h4-font-size-mobile: 18px;

$p-font-size-desktop: 24px;
$p-font-size-tablet: 20px;
$p-font-size-mobile: 16px;
