@import './mixins/typography.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pkmn';
  src: url(../assets/fonts/Pkmn.ttf);
}

h1 {
  @include heading-1;
}

h2 {
  @include heading-2;
}

h3 {
  @include heading-3;
}

h4 {
  @include heading-4;
}

p, .body {
  @include body;
}

html, body, #root, .App {
  height: 100%;
}
