@import "../../../../styles/mixins/breakpoints.scss";
@import '../../../../styles/colors.scss';

.handheld-input {
  width: 576px;
  @include tablet {
    width: 100%;
  }
  @include mobile {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .button-wrapper {
    border-radius: 9999px;
    background-color: #8f641a;
    position: relative;
    button {
      position: absolute;
      border-radius: 9999px;
      background-color: #E9ECEC;
      &:hover {
        background-color: #d4d6d6;
      }
    }
  }
  &__navigation {
    background-color: #bd8522;
    max-width: 50%;
    border-radius: 56px;
    padding: 8px 48px 8px 48px;
    @include tablet {
      max-width: unset;
    }
    // smaller mobile
    @media (max-width: 500px) {
      margin-bottom: 8px;
    } 
    
    &__controls {
      .button-wrapper {
        width: 76px;
        height: 36px;
        @include tablet {
          width: 60px;
          height: 36px;
        }
        // smallest mobile
        @include mobile  {
          width: 52px;
          height: 28px;
        }
        button {
          left: 2px;
          top: 0px;
          width: 72px;
          height: 32px;
          position: relative;
          @include tablet {
            width: 56px;
            height: 32px;
          }
          // smallest mobile
          @include mobile  {
            width: 48px;
            height: 24px;
          }
        }
      } 
    }
  }
  &__panel {
    &__controls {
        width: 210px;
        height: 210px;
        border-radius: 56px;
        background-color: #bd8522;
        padding: 16px;

        @include tablet {
          width: 168px;
          height: 168px;
        }
        @include mobile {
          width: 140px;
          height: 140px;
          padding: 8px;
        }

        &--a,&--b,&--c,&--d {
          place-self: center;
          .button-wrapper {
            width: 76px;
            height: 76px;
            @include tablet {
              width: 60px;
              height: 60px;
            }
            // smallest mobile
            @include mobile  {
              width: 52px;
              height: 52px;
            }
            button {
              left: 2px;
              top: 0px;
              width: 72px;
              height: 72px;
              @include tablet {
                width: 56px;
                height: 56px;
              }
              // smallest mobile
              @include mobile  {
                width: 48px;
                height: 48px;
              }
            }
          } 
        }
    }
  }
}
