@import "../../../../styles/mixins/breakpoints.scss";

.handheld-input {
  width: 576px;
  @include tablet {
    width: 100%;
    margin-top: 24px;
  }
  @include mobile {
    margin-top: 16px;
  }
  &__navigation {
    height: 32px;
    margin-bottom: 16px;
    &__controls {
      justify-self: center;
      place-self: center;
      width: 72px;
      height: 100%;
      border-radius: 9999px;
      background-color: #E9ECEC;
      @include mobile {
        width: 56px;
      }
    }
  }
  &__panel {
    &__controls {
        width: 210px;
        height: 210px;
        border-radius: 56px;
        background-color: #bd8522;
        padding: 16px;
        @include mobile {
          width: 168px;
          height: 168px;
        }
        // smallest mobile
        @media (max-width: 330px) {
          width: 126px;
        }
        &--a,&--b,&--c,&--d {
          justify-self: center;
          place-self: center;
          width: 72px;
          height: 72px;
          border-radius: 9999px;
          background-color: #E9ECEC;

          @include mobile {
            width: 56px;
            height: 56px;
          }
          // smallest mobile
          @media (max-width: 330px) {
            width: 48px;
            height: 48px;
          }
        }
    }
  }
}
