@import '../../../styles/colors.scss';
@import '../../../styles/mixins/breakpoints.scss';
.handheld {
    padding: 24px;
    max-width: 784px;
    min-height: 650px;
    max-height: 1200px;
    background-color: $color-secondary;
    border-radius: 12px;
    border-left: 6px solid $color-black;
    h1 {
        padding: 16px;
        background-color: $color-white
    } 
    @include mobile {
        padding: 16px;
        width: 100%;
        height: 100%;
        max-width: unset;
        min-height: unset;
        max-height: unset;
        border-left: unset;
        border-radius: 0px;
        h1 {
            border-radius: 12px;
            color: #E9ECEC;
            background-color: #bd8522;
        }
    }
    &__screen {
        padding: 8px;
        border-radius: 12px;
        background-color: black;
    }
}
