@import '../../../../styles/colors.scss';
@import '../../../../styles/mixins/breakpoints.scss';

.handheld-screen {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: $color-black;
  padding: 16px;
  gap: 24px;
  margin: unset;
  width: 576px;
  height: 480px;
  @include tablet {
    width: 480px;
    height: 400px;
  }
  @include mobile {
    width: 100%;
    height: 320px;
    padding: 16px;
    gap: 16px;
    margin: 24px;
  }
  &__interface {
    background-color: $color-background;
    width: 432px;
    height: 480px;
    position: relative;
    
    @include tablet {
      width: 360px;
      height: 400px;
    }

    @media (max-width: 500px) {
      width: 216px;
      height: 240px;
    }

    img {
      width: 150px; 
      height: 150px;
      aspect-ratio: 1/1;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      @include mobile {
        width: 125px;
        height: 125px;
      }
      // smaller mobile
      @media (max-width: 500px) {
        width: 100%;
        height: unset;
      }
    }
    &__content {
      padding: 8px;
      @include tablet {
        padding-bottom: 24px;
      }
      &__heading {
        gap: 8px;
        margin-bottom: 8px;
        padding-bottom: 8px;
        border-bottom: 2px solid $color-primary;
        p {
          line-height: unset;
        }
      }
      &__body {
          &__section {
            h2 {
              margin-bottom: 8px;
            }
        }
      }
      &__page {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 432px;
        background-color: $color-primary;
        @include tablet {
          width: 360px;
        }
        // small phones
        @media (max-width: 500px) {
          width: 216px;
        }
        p {
          line-height: unset;
          color: $color-white;
        }
      }
    }
  }
}

#landing-panel {
  // smaller mobile
  @media (max-width: 500px) {
    flex-direction: column;
  }
}
