@import '../../styles/colors.scss';
@import '../../styles/mixins/breakpoints.scss';

#landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  .section {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 96px;
    @include tablet {
      padding-right: 24px;
      padding-left: 24px;
      max-width: 768px;
    }
    @include mobile {
      margin-bottom: 48px;
    }
    &__content {
      width: 100%;
      max-width: 980px;
      .landing-panel {
        border-radius: 14px;
        &--main {
          padding: 24px;
          background-color: $color-panel-primary;
          h2 {
            margin-bottom: 24px;
          }
          img {
            border-radius: 14px;
            margin-right: 24px;
            max-height: 672px;
            flex: 1;
            @include tablet {
              margin-bottom: 24px;
            }
            @include mobile {
              margin-right: unset;
            }
          }
        }
        &--sub {
          width: 208px;
          background-color: #363232;
          text-align: right;
          .button-bar {
            button,
            a {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 24px;
            }
          }
          &-open {
            .button-bar {
              display: flex;
              align-items: center;
              button {
                width: 24px;
              }
            }
            padding: 16px;
          }
          &-closed {
            height: 40px;
            display: flex;
            h2 {
              margin-bottom: 0;
              font-size: 24px;
              color: $color-white;
            }
            .button-bar {
              margin-right: 16px;
              margin-left: 16px;
              display: flex;
            }
          }
          ul {
            margin-bottom: 32px;
            padding: 0px 8px;
            @include tablet {
              margin-bottom: 24px;
            }
            @include mobile {
              margin-bottom: 16px;
            }
            color: $color-white;
            font-family: 'Roboto';
            &:before {
              content: attr(aria-label);
              font-family: 'Roboto Condensed';
              font-weight: bold;
              font-size: 28px;
            }
          }
          .button-bar {
            color: $color-white;
          }
        }
      }
      .information-panel {
        border-radius: 14px;
        padding: 24px;
        background-color: $color-panel-primary;
      }
    }
  }
}
