@import '../font-size.scss';
@import '../colors.scss';
@import './breakpoints.scss';

@mixin heading-1 {
  font-size: $h1-font-size-desktop;
  line-height: $h1-font-size-desktop;
  font-weight: bold;
  display: flex;
  letter-spacing: -0.06em;
  color: $color-black;
  @include tablet {
    font-size: $h1-font-size-tablet;
    line-height: $h1-font-size-tablet;
  }
  @include mobile {
    font-size: $h1-font-size-mobile;
    line-height: $h1-font-size-mobile;
  }
}

@mixin heading-2 {
  font-size: $h2-font-size-desktop;
  line-height: $h2-font-size-desktop;
  font-weight: bold;
  display: flex;
  letter-spacing: 0.05em;
  align-items: center;
  color: $color-black;
  @include tablet {
    font-size: $h2-font-size-tablet;
    line-height: $h2-font-size-tablet;
  }
  @include mobile {
    font-size: $h2-font-size-mobile;
    line-height: $h2-font-size-mobile;
  }
}

@mixin heading-3 {
  font-size: $h3-font-size-desktop;
  line-height: $h3-font-size-desktop;
  font-weight: bold;
  display: flex;
  letter-spacing: 0.05em;
  align-items: center;
  @include tablet {
    font-size: $h3-font-size-tablet;
    line-height: $h3-font-size-tablet;
  }
  @include mobile {
    font-size: $h3-font-size-mobile;
    line-height: $h3-font-size-mobile;
  }
}

@mixin heading-4 {
  font-size: $h4-font-size-desktop;
  line-height: $h4-font-size-desktop;
  font-weight: normal;
  display: flex;
  letter-spacing: 0.05em;
  align-items: center;
  @include tablet {
    font-size: $h4-font-size-tablet;
    line-height: $h4-font-size-tablet;
  }
  @include mobile {
    font-size: $h4-font-size-mobile;
    line-height: $h4-font-size-mobile;
  }
}

@mixin body {
  font-size: $p-font-size-desktop;
  line-height: $p-font-size-desktop * 2;
  font-weight: normal;
  display: flex;
  align-items: center;
  @include tablet {
    font-size: $p-font-size-tablet;
    line-height: $p-font-size-tablet * 2;
  }
  @include mobile {
    font-size: $p-font-size-mobile;
    line-height: $p-font-size-mobile * 2;
  }
}
