* {
  font-family: "Roboto";
  color: #f0eeec !important;
}
body {
  background-color: #680606;
  overflow-y: scroll;
  margin-top: 50px;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  cursor: pointer;
}
p {
  font-size: 16px;
  margin-top: 25px;
}
h3 {
  font-weight: bold;
}
body {
  min-width: 400px;
}
header {
  padding: 15px;
  margin-top: 20px;
  background-color: #bc0315;
  border-radius: 5px;
  text-align: center;
}
header h1 {
  text-align: left;
  letter-spacing: 10px;
  font-size: 36px !important;
  font-weight: bold;
}
footer {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
}
footer a {
  margin-top: 10px;
}
#body-content {
  margin-top: 30px;
  margin-bottom: 0px;
  border-color: #bc0315;
}
#general,
#games {
  margin-top: 20px;
  border-radius: 50px;
}
#general .panel,
#games .panel {
  border-left: 7px solid #f0eeec;
}
.active {
  text-decoration: underline;
}
.row {
  margin-left: 150px;
  margin-right: 150px;
}
.nav a {
  text-align: right;
  font-weight: bold;
  font-size: 20px;
}
.content-nav {
  float: right;
  font-weight: bold;
  margin-top: 20px;
  font-size: 20px;
}
.content-nav a {
  text-align: right;
}
.panel {
  background-color: #bc0315;
}

.panel-footer {
  background-color: #bc0315;
}
.panel-body {
  padding-top: 0px;
  font-size: 18px;
  line-height: 26px;
}

@media only screen and (max-width: 992px) {
  header {
    text-align: center;
  }
  header h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .nav a {
    z-index: 1;
  }
  .panel h3 {
    text-align: center;
  }
  .panel h4 {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  body {
    margin-top: 0px;
  }
  header h1 {
    margin-top: 0px;
    padding: 10px;
    text-align: center;
    font-size: 28px;
  }
  header {
    float: none !important;
  }
  header .nav {
    margin-top: 0px;
    float: none !important;
  }
  .content-nav {
    text-align: center;
  }
}

@media only screen and (max-width: 576px) {
  header h1 {
    text-align: center;
    font-size: 26px !important;
  }
  .content-nav a {
    font-size: 18px;
    text-align: center;
  }
  .nav a {
    z-index: 1;
    font-size: 15px;
  }
  .panel h3 {
    text-align: center;
    font-size: 18px !important;
  }
}
