    html {
        min-width: 375px;
    }
    
    #header-title {
        font-size: 48px;
    }
    
    #header-sub {
        font-size: 24px;
    }
    
    li>a[id^="nav"]:focus,
    li>a[id^="nav"]:hover {
        background-color: #303030;
        text-decoration: underline;
    }
    
    .page-content {
        margin-top: 2.0em;
    }
    
    .icon a,
    .card-header a {
        color: #363636;
    }
    
    .icon a :hover,
    .icon a :focus,
    .card-header a :hover,
    .card-header a :focus {
        color: #5c5c5c;
    }
    
    .project {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .project>.card-content>h3 {
        font-weight: bold;
    }
    
    .project-year {
        margin-top: -10px;
        margin-bottom: 10px;
    }
    
    .project-icon {
        float: right !important;
    }
    
    @media only screen and (min-width: 769px) {
        #header-sub {
            margin-top: 0.65em;
        }
    }