* {
  font-family: "Roboto";
  color: #f0eeec !important;
}

body {
  background-color: #680606;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  cursor: pointer;
}

p {
  font-size: 16px;
}

h3 {
  font-weight: bold;
}

body {
  min-width: 380px;
}

header {
  padding: 15px;
  margin-top: 20px;
  padding-bottom: 10px;
  background-color: #bc0315ec;
  border-radius: 5px;
  float: left;
}

h1 > span:hover {
  cursor: pointer;
}

header h1 {
  text-align: left;
  letter-spacing: 10px;
}

img {
  float: right;
  width: 25%;
  height: 25%;
  padding: 20px;
  margin-top: 30px;
  margin-right: 30px;
  border-radius: 100%;
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

header .nav {
  margin-top: 15px;
}

.nav a {
  text-align: right;
  font-weight: bold;
  font-size: 20px;
}

#about {
  margin-top: 30px;
  margin-bottom: 0px;
}

.panel {
  border-color: #bc0315ec;
  background-color: #bc0315ec;
}

.nav-projects li {
  padding-top: 25px;
  font-size: 16px;
  font-weight: bold;
}

.nav-projects li a,
.nav-tabs li a:hover,
.nav-tabs li a {
  z-index: 1;
  border: 0;
  background-color: #bc0315ec;
}

.nav-projects li.active a,
.nav-projects li.active a:focus,
.nav-projects li.active a:hover {
  text-decoration: none;
  background-color: #bc0315ec;
  border-top-color: #bc0315ec;
  border-left-color: #bc0315ec;
  border-right-color: #bc0315ec;
}

.nav-projects li a:hover,
.nav-projects li a:focus {
  text-decoration: underline;
  border-top-color: #bc0315ec;
  border-left-color: #bc0315ec;
  border-right-color: #bc0315ec;
}

#general,
#games {
  margin-top: 20px;
  border-radius: 50px;
}

#general .panel,
#games .panel {
  border-bottom: 2px solid #f0eeec;
}

.panel-footer {
  background-color: #bc0315ec;
  border-color: #bc0315ec;
}

.panel-body {
  padding-top: 0px;
  font-size: 18px;
  line-height: 26px;
}

footer {
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
}

footer a {
  margin-top: 10px;
}

@media only screen and (max-width: 992px) {
  header {
    text-align: center;
  }
  header h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
    font-size: 35px;
  }
  img {
    display: none;
  }
  header .nav {
    margin-top: 20px;
  }
  h2 {
    font-size: 30px;
  }
  .nav-projects li {
    float: left;
    padding-top: 0px;
  }
  .nav a {
    z-index: 1;
  }
  .pageContent {
    text-align: center;
  }
  .panel h3 {
    text-align: center;
  }
  .panel h4 {
    text-align: center;
  }
  #about {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 767px) {
  header h1 {
    margin-top: 0px;
    padding: 10px;
    text-align: center;
  }
  header {
    float: none !important;
  }
  header h1 {
    float: none !important;
  }
  header .nav {
    margin-top: 0px;
    float: none !important;
  }

  #about {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 576px) {
  header h1 {
    text-align: center;
    font-size: 25px !important;
  }
  .nav a {
    z-index: 1;
    font-size: 15px;
  }
  .pageContent h2 {
    font-size: 20px;
  }
  .panel h3 {
    text-align: center;
    font-size: 18px !important;
  }
}
